@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../../node_modules/highlight.js/styles/vs2015.css';
html,
body {
  @apply w-full min-h-full;
  font-family: 'Microsoft JhengHei UI';
}
app-route > * {
  @apply grid grid-cols-1 gap-4;
}
ui-doc pre {
  @apply bg-dark-200 text-white p-4 w-full rounded-lg block;
}
ui-doc pre code {
  @apply overflow-x-auto max-w-full block;
}
h1 {
  @apply text-3xl border-b;
}
button {
  @apply bg-light-blue-600 hover:bg-light-blue-700 p-3 rounded-lg text-white;
}
*:focus {
  @apply outline-none ring !important;
}
ui-doc table {
  @apply border-collapse;
}
ui-doc a {
  @apply text-blue-600;
}
ui-doc thead th {
  @apply border m-0 p-3;
}
ui-doc td {
  @apply border m-0 p-3;
}
ui-doc strong code,
ui-doc p code {
  @apply bg-gray-200 p-1 rounded-md;
}
*::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  scrollbar-width: thin;
}
